@mixin dfsb
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin dfc
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin dfs
{
    display: flex;
    justify-content: start;
    align-items: center;
}
@mixin pac
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin prc
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}