// Color Setting Starts
	// Site Background Color
	$_backgroundColor: white; 

	// Site Second Background Color
	$_secondBackgroundColor: #EEEEFF; 
	
	// Site Main Color
	$_mainColor: #3F3DE9;

	// Site Second Color
	$_secondColor: #D4D1FF;

	// Site Logo Left Side Color
	$_logoLeftColor: #3F3DE9;

	// Site Logo Left Side Color
	$_logoRightColor: #111111;

	// Site Inputs Background Color
	$_inputsBackgroundColor: #F0F0F0;

	// Site Active Inputs Background Color
	$_activeInputsBackgroundColor: #E2E9FF;

	// Site Second Text Color
	$_secondTextColor: #3F3DE9;
	
	// Site Titles' Colors
	$_titlesColor: #232323;
	
	// Site Paragraphs Colors
	$_paragraphsColors: #4F4F4F;

	// Site Navigation Text Color
	$_navigationTextColor: #111111;

	// Site Contacts Text Color
	$_contactTextColor: black;

	// Site Copyright Color
	$_copyrightTextColor: #232323;

	// Site Input's Label Text Color
	$_inputLabelTextColor: #72606D;

	// Site First Button Text Color 
	$_firstButtonTextColor: #fff;

	// Site Second Button Text Color
	$_secondButtonTextColor: #3F3DE9;

	// Site First Button Hover Color 
	$_firstButtonHoverColor: #514FC9;

	// Site Second Button Hover Color
	$_secondButtonHoverColor: #C4C1ED;

	// Slider Not Active Controller Color
	$_sliderNotActiveControllerColor: #C4C1ED;

	// Footer Border Color
	$_footerBorderColor: #ADC5FF;

	// "Why we?" icons colors
	$_whyWeIconColor1: #DCDDFF;
	$_whyWeIconColor2: #E5CBFF;
	$_whyWeIconColor3: #CEE2FF;
	$_whyWeIconColor4: #FFE2DF;
	$_whyWeIconColor5: #FFE7D0;
	$_whyWeIconColor6: #CEFFD6;
// Color Setting Ends

// Size Setting Starts
	$_containerWidth: 1290px;
// Size Setting Ends